{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div id="post-form-container">
            <form id="post-form">
                {% csrf_token %}
                <textarea id="post-content" placeholder="What's on your mind?"></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
    {% endif %}
    
    <div id="posts-view">
    </div>
{% endblock %}