{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/utils.js' %}"></script>
<script src="{% static 'network/user_profile.js' %}"></script>
{% endblock %}

{% block body %}
<h1 id="profile-username"></h1>

<div class="profile-info">
    <div class="followers">
        <div class="label">Followers</div>
        <div class="tooltip-container">
            <div id="followers-count" class="count"></div>
            <div class="tooltip" id="followers-tooltip">
                <div class="tooltip-list" id="followers-list"></div>
            </div>
        </div>
    </div>
    <div class="following">
        <div class="label">Following</div>
        <div class="tooltip-container">
            <div id="following-count" class="count"></div>
            <div class="tooltip" id="following-tooltip">
                <div class="tooltip-list" id="following-list"></div>
            </div>
        </div>
    </div>
</div>

{% if user != request.user %}
    <div class = "follow-button-container">
        <button id="follow-button"></button>
    </div>
{% endif %}

<div id="posts-view"></div>
{% endblock %}